<div id='{{id}}' class='toyItem col-md-4'>
<span class="remove glyphicon glyphicon-remove" aria-hidden="true"></span>
	<img src='{{image}}' class='img-rounded'>
	<h3 class='name'>{{name}}</h3>
	<h4 class='price'>{{price}}</h4>
	<p class='description'>{{desc}}</p>
	<button type="button" class="details btn btn-primary btn-md">Details</button>
</div>